
TODO.md

.vscode
simple-biz_flat.txt

# npm_output.log
npm_output.log

# exclude .chace files
**/*.chace

# exclude the _flat.txt files
*_flat.txt

# ignore design docs (ending in features.md)
**/*features.md
**/*feature.md

# ignore tests/
/tests

# ignore .env
**/.env*

# ignore to-migrate-and-delete/
/to-migrate-and-delete

# ignore node_modules
/node_modules

# ignore faq
faq/